<% include ./partials/header %>

<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link rel="stylesheet" href="/stylesheets/about.css">

<div class="container">
  <div class="rows">
    <div class="col-sm-5">
      <img class="img-responsive portrait" src="http://res.cloudinary.com/myblog/image/upload/w_600,h_600,c_crop,z_1.3/v1510152227/Mysite/Portfolio/profile%20picture-revise.jpg">
    </div>
    
  <div class="col-sm-7" id="about">
    <h2>Chi-Heng Huang</h2>
    <h4>New Taipei City, Taiwan</h4>
    <hr>
    <p>Hello, I'm a Front-End Web-Developer who loves building web apps that will bring users great experience.</p>
    <p>It all starts from seeing those demo video in the curriculum of freeCodeCamp, 
       It's fun and some of them are useful in the real world, that's when I decide to learn to be a web developer by myself
       (with no prior knowledge in this domain), as you might imagine, it's not a smooth journey, 
       but I find fulfillment and more certain that this is what I want each time I finished a project.</p>
    <p>I earned my Front-End Development 
       <a href="https://res.cloudinary.com/myblog/image/upload/q_auto/v1510800412/Front-End%20certificate.png" target="_blank">certificate</a> 
       on freeCodeCamp last year.</p>
    <p>Now I Spend most of my time doing projects and taking online courses, Finished a solid React project recently! Adding SCSS, testing using jest and enzyme, and Firebase to my toolbelt, Knowing the usage of webpack and babel too!</p>
    <p>When I'm not coding, you'll often find me running along the riverside. Can't just sitting all day, right?</p>
       
      
    <div class="contactIcon">
      <a href="https://www.facebook.com/profile.php?id=100000104122738">
        <i class="fa fa-facebook-square fa-3x"></i>
      </a>
      <a href="https://www.linkedin.com/in/chi-heng-huang-3071b657">
        <i class="fa fa-linkedin-square fa-3x"></i>
      </a>
      <a href="https://github.com/thinkerelwin">
        <i class="fa fa-github fa-3x"></i>
      </a>
      <a href="mailto:thinkerelwin@gmail.com">
        <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  
  <div id="skills">
    <div class="col-sm-12">
      <h1>Skills</h1>
    </div>
    
    <div class="col-sm-7">
      <h2 class="skillsTitle">Programming Languages & Tools</h2>
      <div class="devicon">
        <i class="devicon-javascript-plain" title="javascript"></i>
                <i class="devicon-react-original" title="React.js"></i>
        <i class="devicon-vuejs-plain" title="Vue.js"></i>
        <i class="devicon-nodejs-plain" title="Node.js"></i>
        <i class="devicon-jquery-plain" title="JQuery"></i>
        <i class="devicon-html5-plain" title="HTML5"></i>
        <i class="devicon-css3-plain" title="CSS3"></i>
        <i class="devicon-bootstrap-plain" title="Bootstrap"></i>
        <i class="devicon-webpack-plain" title="Webpack"></i>
        <i class="devicon-babel-plain" title="Babel"></i>
        <i class="devicon-mongodb-plain" title="MongoDB"></i>
      </div>
      
      <h2>Architecture & Protocol</h2>
      <ul class="cssWorkFlow">
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>MVC design pattern or MVVM pattern
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>Knowing what RESTful Routes is how to set it
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>Follow the most starred HTML & CSS <a href="http://codeguide.co/#css-organization">code guide</a> on GitHub
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>JS linter: use ESlint Standard style(adjustable)
        </li>
      </ul>
    </div>
    
    <div class="col-sm-5">
      <img class="thumbnai img-responsive" src="https://source.unsplash.com/hGV2TfOh0ns">
    </div>
    
  </div>
  
</div> 
</div>

  
  <script src="/javascripts/portfolio.js"></script>
<% include ./partials/footer %>