<% include ./partials/header %>

<div class="container">
  <h2>Projects</h2>
  <div class="rows" id="portfolio">
    <div class="col-sm-6 col-md-4 portfolioGrid">
      <a href="https://codepen.io/thinkerElwin/full/KXBpBg/">
        <div class="thumbnail">
          <img src="http://res.cloudinary.com/myblog/image/upload/v1510555036/Mysite/Portfolio/simon_game.png">
        </div>
        <div class="caption description">
          <h4>Simon Game</h4> 
          <p>Front-End game with sound</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 portfolioGrid">
      <a href="https://codepen.io/thinkerElwin/full/aLeQeX">
        <div class="thumbnail">
          <img src="http://res.cloudinary.com/myblog/image/upload/v1510555032/Mysite/Portfolio/color_game.png">
        </div>
        <div class="caption description">
          <h4>Color Game</h4> 
          <p>Front-End game</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 portfolioGrid">
      <a href="https://codepen.io/thinkerElwin/full/dVNJXJ/">
        <div class="thumbnail">
          <img class="img-responsive" src="http://res.cloudinary.com/myblog/image/upload/v1510562216/Mysite/Portfolio/tic_tac_toe_game.png">
        </div>
        <div class="caption description">
          <h4>Tic Tac Toe Game</h4> 
          <p>Unbeatable AI</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 portfolioGrid">
      <a href="https://codepen.io/thinkerElwin/full/JJGxXO">
        <div class="thumbnail">
          <img class="img-responsive" src="http://res.cloudinary.com/myblog/image/upload/v1510555032/Mysite/Portfolio/local_weather.png">
        </div>
        <div class="caption description">
          <h4>Local weather</h4> 
          <p>Utilize Dark Sky API & skycons</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 portfolioGrid">
      <a href="https://codepen.io/thinkerElwin/full/VrZQXM/">
        <div class="thumbnail">
          <img class="img-responsive" src="http://res.cloudinary.com/myblog/image/upload/v1510560207/Mysite/Portfolio/to_do_list.png">
        </div>
        <div class="caption description">
          <h4>To Do List</h4> 
          <p>JQuery & CSS animation</p>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 portfolioGrid">
      <a href="https://codepen.io/thinkerElwin/full/MEbqje/">
        <div class="thumbnail">
          <img class="img-responsive" src="http://res.cloudinary.com/myblog/image/upload/v1510563565/Mysite/Portfolio/pomodoro_clock.png">
        </div>
          <div class="caption description">
          <h4>Pomodoro Clock</h4> 
          <p>Useful tool</p>
        </div>
      </a>
    </div>
  </div>
</div>

  
<% include ./partials/footer %>